:root {
  --blue: #1e90ff;
  --white: #ffffff;
}

.box {
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.6);
  padding: 30px;
  background-color: #fff;
}

.box h1 {
  color: #000;
}

.box p {
  color: #000;
}

body {
  background-color: var(--blue);
  font-size: 15px;
}

h1 {
  color: red;
}

p {
  color: var(--blue);
  font-size: 15px;
}